* {
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    list-style: none !important;
    box-sizing: border-box !important;
}

body {
    color: rgb(34, 34, 34);
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

.row {
    align-items: center;
    flex-basis: 100%;
}


.main-section {
    position: relative;
    padding: 60px 0 0 !important;
}

html {
    scroll-behavior: smooth;
}


#preloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1001;
    background:#010130 url("../media/truck-loading-animation.webp")center/cover ;
    background-repeat: no-repeat;
    background-size: 20%;
}