.header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: transparent;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.sticky-head {
    transition: .5s;
    transform: translateY(-50%);
}

.header-left {
    height: 30px;
    width: 150px;
    object-fit: contain;
}

.header-left a {
    height: 30px;
    display: block;
}

.header-left img {
    height: 100%;
    width: 100%;
}

.header .navbar-wrapper {
    display: flex;
    padding: 10px 0;

    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right .navbar-desktop-list {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.header.sticky {
    top: 0;
    position: fixed;
    box-shadow: 10px -6px 15px black;
    transition: all 0.4s ease;
    animation: smoothScroll 1s;
    border-top: none;
    background: #000000e6;
    z-index: 222;
}

/* !side-bar-mobile */
.all-side-bar {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger button div {
    width: 40px;
    margin: 0;
}

.hamburger button .bar3:nth-child(3) {
    width: 60%;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    width: 100% !important;
    transform: rotate(45deg) translate(-6px, -1px);
}

.sidebar-nav {
    height: 100vh;
    overflow-y: scroll !important;
    width: 300px;
    background-color: #020c1b;
    position: fixed;
    z-index: 801;
    transform: translate(100%);
    transition: 1s;
    right: 0;
    top: 0;

}

.sidebar-nav::-webkit-scrollbar {
    width: 4px;
}

.sidebar-nav::-webkit-scrollbar-track {
    background: rgba(19, 23, 25, .8);
}

.sidebar-nav::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.932);
    border-radius: 5px;
}

.active {
    transform: translate(0%);
}

.overlay-sidebar {
    display: none;
    transition: .4s;
}

.overlay-sidebar::after {
    content: '';
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #020c1b8e;
    backdrop-filter: blur(3.5px);
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 30px 20px;
    justify-content: space-between;
}

.sidebar-header img {
    max-width: 150px;
    height: 30px;
}

#close-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

#close-icon img {
    width: 100%;
    filter: brightness(0) invert(1);
    height: auto;
}

.sidebar-body .menu {
    padding: 0 20px;
    margin: 0;
}

.sidebar-body .menu li a {
    border-bottom: 1px solid #424242;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
}

.mobile-social ul {
    display: flex;
    align-items: center;
    padding: 20px;
    column-gap: 50px;
}

.mobile-social ul li a {
    font-size: 20px;
    color: #fff;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.navbar-desktop-list li a {
    line-height: 50px;
    border-radius: 4px;
    padding: 15px 10px;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    --b: 0.2em;
    --c: #1095c1;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

.navbar-desktop-list li a:hover {
    color: #000;
    --_p: 100%;
    --_s: .3s;
    background-color: rgb(198, 211, 220);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

/* *hamburger* */
.hamburger {
    display: none;
}

.hamburger button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border: 0;
    outline: 0;
    background-color: transparent;
}

/* ! all hero-banner */
.hero-banner {
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: auto 500px;
    min-height: 450px;
    padding: 40px 0;
    width: 100%;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.hero-banner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-banner-title {
    position: relative;
    z-index: 2;
}

.hero-banner-title article h2 {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #fff;
}

.hero-banner-title article .breadCrumps {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.hero-banner-title article .breadCrumps li span,
.hero-banner-title article .breadCrumps li a {
    font-size: 18px;
    color: #fff;
}

/*! about-page */
.static-content .row {
    justify-content: center;
    padding: 20px 0 0;
}

.static-content .about-content figure {
    height: 350px;
    object-fit: contain;
    padding: 0;
    margin-bottom: 20px;
}

.static-content .about-content figure img {
    width: 100%;
    height: 100%;
}

.static-content .about-content p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;

}

/* !contact */
.contact-page {
    margin: 30px 0;
}

.contact-page .row {
    justify-content: space-between;
    row-gap: 20px;
}

.contact-page article h6 {
    color: #f6b457;
    font-size: 16px;
    line-height: 1.5;
}

.contact-page article h3 {
    color: #000;
    font-size: 22px;
    line-height: 1.5;
}

.contact-page article p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    color: #666;
    text-align: justify;
}

.contact-info {
    width: 100%;
    padding: 12px 0;
    height: auto;
    display: block;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid #dddddd3b;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px 0px;
}

.contact-info:last-child {
    margin-top: 30px;
}

.contact-list {
    margin: 0;
    padding: 0;
}

.contact-list .contact-item {
    position: relative;
    line-height: 55px;
    padding: 0 16px;
}

.contact-list .contact-item .side {
    display: block;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0px;
    background: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    left: 0px;
}

.contact-item .contact-item-content {
    margin: 0;
    padding: 0 24px;
    border-radius: 10px;
}

.location-email-side {
    line-height: 25px;
    padding: 20px 26px !important;
}

.contact-item:first-child .contact-item-content {
    background: rgb(245, 245, 245);
}

.contact-item .contact-item-content a {
    font-size: 15px;
    font-weight: 400;
    color: #212529;
}

.map-area {
    background: #f5f5f5;
    padding: 20px 0;
}

.ymaps-2-1-79-zoom__plus .ymaps-2-1-79-zoom__icon,
.ymaps-2-1-79-zoom__minus .ymaps-2-1-79-zoom__icon {
    top: 25%;
    left: 25%;
    transform: translate(-20%, -10%);
}

#map {
    height: 400px;
}

/* !hero-section */
.hero-slider .item {
    padding: 60px 0;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    width: 100% !important;
}


.hero-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
}

.hero-slider .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 5px;
}

.hero-slider .owl-dots .owl-dot span {
    width: 60px !important;
    height: 4px;
    margin: 5px 7px;
    background: #eeee;
    display: block;
    position: relative;
    overflow: hidden;
}

.hero-slider .owl-dots .owl-dot.active span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;
    animation: mymove 3500ms linear infinite;
    transform-origin: left;
}

@keyframes mymove {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.hero-slider .item::after {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    z-index: 1;
}



.hero-slider .item article {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    z-index: 2;
}

.hero-slider .item article h1 {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
}

.hero-slider .item article p {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
}

.hero-slider .item a {
    padding: 10px 35px;
    background-color: #ed7e21;
    color: #fff;
    line-height: 1.5;
    outline: 0;
    border-radius: 6px;
    display: block;
}




/* *delicery-card* */
.delivery-card {
    padding: 30px 0;
}

.delivery-card .title h3 {
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
}

.delivery-card .card {
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.delivery-card .card:hover figure img {
    transform: scale(1.1);

}

.delivery-card .card figure {
    height: 200px;
    object-fit: contain;
    width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.delivery-card .card figure img {
    height: 100%;
    transform: scale(1);
    width: 100%;
    transition: .5s;

}

.delivery-card .card article h4 {
    font-size: 20px;
    color: #111;
    font-weight: bold;
}

.delivery-card .card article {
    padding: 20px;
}

.delivery-card .card article p {
    color: #666;
    margin: 0;
    height: 80px;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.delivery-card .card article p span {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.delivery-card .card article a {
    animation: shadowAnimation 2s infinite;
    background: linear-gradient(98.37deg, #00f87c 0.99%, #2f3ada 100%);
    text-transform: inherit;
    padding: 22px 32px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 15px;
    line-height: 1;
    line-height: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
}

.delivery-card .card article a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: 102%;
    background: linear-gradient(98.37deg, #048023 0.99%, rgb(119, 7, 44) 100%);
    z-index: 1;
    border-radius: 0px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px;
}

.delivery-card .card article a:hover::before {
    transform: scaleX(1);
    z-index: -1;
}

.delivery-card .delivery-card-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -25px;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background: #fff;
    background-color: hsla(0, 0%, 100%, .7) !important;
    border: 1px solid transparent;
    border-radius: 24px !important;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 15%);
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms all ease;
}

.delivery-card .delivery-card-carousel .owl-nav .owl-next {
    position: absolute;
    right: -25px;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background: #fff;
    background-color: hsla(0, 0%, 100%, .7) !important;
    border: 1px solid transparent;
    border-radius: 24px !important;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 15%);
    transform: translateY(-50%);
    cursor: pointer;
    transition: 200ms all ease;
    display: flex;
    align-items: center;
    justify-content: center;

}

.delivery-card .delivery-card-carousel .owl-nav .owl-prev::before {
    content: '';
    background: url("../media/prev.svg") center/contain no-repeat !important;
    position: absolute;
    width: 9px;
    height: 16px;
}

.delivery-card .delivery-card-carousel .owl-nav .owl-next::after {
    content: '';
    background: url("../media/next.svg") center/contain no-repeat !important;
    position: absolute;
    width: 9px;
    height: 16px;
}

.delivery-card .delivery-card-carousel .owl-nav .owl-next span,
.delivery-card .delivery-card-carousel .owl-nav .owl-prev span {
    display: none;
}

/* !home-about */
.home-about {
    background: url("../media/background-about.jpg");
    height: 500px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-about .row .home-about-content h6 {
    font-size: 26px;
    color: #262626;
    line-height: 1.5;
}

.home-about .row .home-about-content h3 {
    font-size: 35px;
    line-height: 1.5;
}

.home-about .row .home-about-content p {
    color: #666;
    margin: 0;
    height: 95px;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: 50%;
    margin-bottom: 40px;
}

.home-about .row .home-about-content p span {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.home-about .row .home-about-content a:hover {
    background-color: #fcab58;
}

.home-about .row .home-about-content a {
    border-radius: 4px;
    background-color: #f3b757;
    color: #fff !important;
    font-size: 15px;
    padding: 12px 25px;
    /*  */
    background-image: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}

/* !question */
#question {
    background: url("../media/bg-question.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px 0px;
    position: relative;
    background-attachment: fixed;
}

#question .question-overlay {
    width: 100%;
    height: 100%;
    background-color: #0000002E;
    position: absolute;
    z-index: 1;
    top: 0;
}

.question-text {
    position: relative;
    z-index: 2;
}

#question .question-text h3 {
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
}

#question .question-text p {
    margin-top: 20px;
    font-size: 20px;
    color: #ebebeb;
    font-weight: 400;
    margin-bottom: 0;
}

#question .question-btn {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}

#question .question-btn a {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    color: #606160;
    border-radius: 4px;
    font-weight: 600;
    transition: 0.3s;
    border: none;
}

/* !calculator-page */

.all-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.transport-calc {
    padding: 40px;
    background-color: #fff;
}

.transport-calc .row .title h1 {
    font-size: 30px;
    color: rgb(21, 2, 43);
    text-align: center;
}

.calc-body {
    padding: 10px 0;
}

.select-label {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.select-label label {
    font-size: 20px;
    text-align: start;
    width: 100%;
    margin-bottom: 10px;
}

.select-label select {
    width: 100%;
    cursor: pointer;
    border: 1px solid #ddd;
    height: 50px;
    padding: 10px 15px;
    border-radius: 4px;
}

.input-label label {
    font-size: 20px;
    text-align: start;
    width: 100%;
}

.input-label input {
    height: 40px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    padding: 10px;
}

.submit-btn {
    margin: 20px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-label {
    width: 50%;
    margin: 0 auto;
    height: 40px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    background-color: #059c2b;
}



.select-label select:focus {
    border: 2px solid green;
    outline: green;
}

.totalPrice p {
    font-size: 4%;
    font-weight: 600;
    font-weight: bold;
}

.totalPrice p span {
    font-weight: 500;
    color: #666;
}

/* !footer */
#footer {
    background-color: #020c1b;
    padding: 60px 30px 0;
}

.footer-head {
    padding: 20px 0;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.footer-logo a img {
    max-width: 200px;
    height: 30px;
}


.footer-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin: 0;
}

.footer-list li a {
    color: #fff;
    position: relative;
    font-weight: 700;
    transition: all 0.3s ease;
    margin: 0 0 0 23px;
    font-size: 16px;
}

.footer-list li a:hover {
    color: #da2f68;
}

/* !footer end */

.footer-center {
    padding: 30px 0;
}

.copyright p {
    color: #fff;
    opacity: 0.5;
    line-height: 1.43;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.footer-contact {
    display: flex;
    justify-content: flex-start;
}

.footer-contact a {
    color: #fff;
    opacity: 0.5;
    line-height: 1.43;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-social ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.footer-end {
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #666;
}


.footer-social-link {
    color: #fff;
    background: #04152d;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 18px;
    transition: all 0.3s ease;
}

.footer-social-link:hover {
    box-shadow: 0 0 0.625em #da2f68;
    color: #da2f68;

}

@media only screen and (max-width:991.99px) {
    .all-side-bar {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .header-right .navbar-desktop-list {
        display: none;
    }

    /* !hero-slider */
    .hero-slider .item article h1 {
        font-size: 40px;
    }

    .hero-slider .item article p {
        font-size: 20px;
    }

    /* !question */
    #question .question-text h3 {
        text-align: center;
        font-size: 30px;
    }

    #question .question-text p {
        font-size: 18px;
        margin-top: 0px;
        text-align: center;
    }

    #question .question-btn {
        justify-content: center;
        margin-top: 20px;
    }

    /* !footer */
    #footer {
        padding: 33px 0 0;
    }

    .footer-head {
        padding: 0;
    }

    .footer-center {
        padding: 0;
    }

    .footer-contact {
        justify-content: flex-start;
    }

    .footer-end {
        padding: 0;
    }

    .footer-list li a:before {
        display: none;
        ;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-link {
        justify-content: flex-start;
    }

    .footer-list {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-list li {
        width: 100%;
    }

    .footer-list li a {
        margin: 0 10px 10px 0;
        display: block !important;
        font-size: 25px;
    }

    .creater {
        justify-content: flex-start;
    }

    .copyright,
    .footer-contact {
        margin: 11px 0 16px;
        font-size: 20px;
    }

    .footer-end p {
        text-align: start;
    }

    .footer-social {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        padding: 0;
    }

    .footer-social li {
        margin-right: 20px;
    }

    .footer-social-link {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
}



@media only screen and (max-width:767.99px) {

    /* !hero-banner */
    .hero-banner {
        min-height: 350px;
    }

    .home-about .row .home-about-content p {
        max-width: 80%;
    }

    /* !delivery-card */
    .delivery-card .delivery-card-carousel .owl-nav .owl-prev {
        position: absolute;
        left: 0px;
        top: calc(50% - 50px);
    }

    .delivery-card .delivery-card-carousel .owl-nav .owl-next {
        position: absolute;
        right: 0px;
        top: calc(50% - 50px);
    }

    /* !calculate */
    .btn-label {
        width: 100%;
    }

    /* !contact */
    #map {
        height: 300px;
    }
}

@media only screen and (max-width:575.99px) {
    .sidebar-nav {
        width: 240px;
    }

    .mobile-social ul {
        column-gap: 40px;
    }

    .hero-slider .item {
        background-size: cover !important;
        background-position: 65% !important;
        background-repeat: no-repeat !important;
        height: 80vh;
        position: relative;
        display: flex;
        align-items: center;
    }

    .hero-slider .item article {
        align-items: center;
        text-align: center;
    }

    .hero-slider .item article h1 {
        font-size: 30px;
    }

    .hero-slider .item article p {
        font-size: 16px;
    }

    /* !delivery-card */
    .delivery-card .card figure {
        height: 230px;
    }

    /*! home-about */
    .home-about {
        height: 400px;
    }

    .home-about .row .home-about-content h6 {
        text-align: center;
        font-size: 18px;
    }

    .home-about .row .home-about-content h3 {
        text-align: center;
        font-size: 25px;
    }

    .home-about .row .home-about-content p {
        max-width: 100%;
        text-align: center;
    }

    .home-about .row .home-about-content {
        text-align: center;
    }

    /* !about-page */
    .static-content .about-content figure {
        height: 250px;
    }

    /* !contact-page */
    #map {
        height: 200px;
    }

    .hero-banner {
        align-items: center;
        min-height: 300px;
    }

    .hero-banner-title article .breadCrumps {
        justify-content: center;
    }

    .hero-banner-title article h2 {
        font-size: 25px;
        text-align: center;
    }

    .contact-page article h6 {
        text-align: center;
    }

    .contact-page article p {
        text-align: center;
    }

    .contact-page article h3 {
        text-align: center;
    }

    /* !calculator */
    .transport-calc {
        padding: 20px;
    }

    .transport-calc .row .title h1 {
        font-size: 20px;
        text-align: center;
    }

    .select-label label,
    .input-label label {
        font-size: 15px;
    }

    .select-label select,
    .input-label input {
        height: 40px;
    }

    .input-label input {
        font-size: 14px;
    }

    /*! footer */
    .footer-logo {
        text-align: center;
    }

    .footer-list {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-contact {
        justify-content: center;
    }

    .footer-social ul {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer-social ul li {
        margin: 0;
    }

    .footer-list li a {
        font-size: 20px;
    }

    .copyright p {
        text-align: center;
        font-size: 16px;
    }

    .copyright p span {
        display: none;
    }
}

@media only screen and (max-width:344.5px) {

    /* !about-page */
    .static-content .about-content figure {
        height: 200px;
    }

    /* !delivery-card */
    .delivery-card .card figure {
        height: 180px;
    }

    /* !calculator */
    .transport-calc {
        padding: 8px;
    }
}